1 ICON "RGBCcontrol.ico"
1 24 "app.manifest"

1 VERSIONINFO
FILEVERSION 0,16,14,0
PRODUCTVERSION 0,16,14,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040c04b0"
    BEGIN
      VALUE "CompanyName", "RGBCcontrol"
      VALUE "FileDescription", "RGBCcontrol - RGB et ventilation"
            VALUE "FileVersion", "0.16.18"
      VALUE "InternalName", "RGBCcontrol"
      VALUE "OriginalFilename", "RGBCcontrol.exe"
      VALUE "ProductName", "RGBCcontrol"
            VALUE "ProductVersion", "0.16.18"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x040c, 1200
  END
END
